!.gitignore
!.scalafmt.conf
.scalafmt-common.conf
*.iml
*.class
*.log
target/
project/target/
project/boot/
dist/
boot/
logs/
out/
tmp/
projectFilesBackup/
.history
.idea/
.idea_modules/
.DS_STORE
.cache
.settings
.project
.classpath
version.properties
RUNNING_PID
node_modules/
.bloop/
.metals/
.vscode/
.bsp
sbt-cache/**
akka-diagnostics/
.toDelete
**/buf*.yaml
/~$SSD_Rules.xlsx
cassandra-bundle.jar
*.dylib
run-release.sh
